<header>
  <img src="./../../assets/OIP.jpg" id="logo" />
  <h1><a href="https://www.bing.com/search?pglt=673&q=hitachi+vantara&cvid=a885a02bd9fd4393a9ec7913310fc0b7&aqs=edge.0.69i59j0l5j69i60l3j69i11004.1844j0j1&FORM=ANNAB1&PC=LCTS">  Hitachi vantara </a></h1><br>
</header>
<body>
    <div id="container">
        <main>
          <h3><br><br>To Inspire The Next</h3><br>
          <p>Hitachi Vantara has been immersed in IoT since well before it became a ‘thing.’ In 2016, we produced and launched our own Industrial IoT Platform, Lumada.</p><p> Constant interactions with customers and partners and our own growing expertise, we have continuously refined and evolved the solution to meet ever-higher customer needs and expectations.</p>
        </main>
        <aside>
          <section>
            <h4> Moto </h4>
            <p>Make an impact on our business and help our customers. Each of us can contribute to a better tomorrow, and you can start today.
              
            </p>
          </section>
          <section>
            <h4> Jobs Available</h4>
            <a href="https://www.bing.com/search?q=hitachi+it+company&cvid=84894978529143339ce35f7584c024b3&aqs=edge.2.69i57j0l5j69i60l3j1001i1001i1101j69i11004.15130j0j1&pglt=43&FORM=ANNAB1&PC=LCTS">Company</a><br>
            <a href="https://www.bing.com/search?q=hitachi+construction+machinery&cvid=805a7746673f45e093bfad52ffe7c781&aqs=edge.1.69i57j46l2j0l6j69i11004.13810j0j1&pglt=43&FORM=ANNAB1&PC=LCTS">Constructions</a><br>
            <a href="https://www.bing.com/search?q=hitachi+it+solutions&cvid=ea6d4e39f03745aabdfadcf6dafc5224&aqs=edge.2.69i57j0l6j69i60l2j69i11004.10948j0j9&FORM=ANAB01&PC=LCTS">IT Solutions</a><br>
            <a href="https://www.bing.com/search?q=hitachi+vantara&qs=n&form=QBRE&sp=-1&ghc=2&lq=0&pq=hitachi+vantara&sc=10-15&sk=&cvid=0471B76D453A401C94851764E2150843&ghsh=0&ghacc=0&ghpl=">Vantara</a>
          </section>
        </aside>
      </div>
      <!-- <footer >
        <hr />
        Copyright &copy; 2021. All rights reserved
      </footer> -->
</body>