<div class="heading">
    <h3>Registration Form</h3>
  </div>
  <div class="container">
     <form [formGroup] = "frmRegister" (ngSubmit)="OnSubmit()">
      <div class="form-group">
        <label for="id">Id :</label><br>
        <input type="number" class="form-control"id="id"formControlName="id">
        <span class="icons"*ngIf="frmRegister.controls['id'].errors && !frmRegister.controls['id'].pristine">&nbsp;&nbsp;&nbsp;&nbsp;Id<mat-icon>highlight_off</mat-icon></span>
        </div><br><br>
    <div class="form=group">
      <label for="name">Name :</label><br>
      <input type="text" class="form-control" id="name"formControlName="name">
      <span class="icons" *ngIf="frmRegister.controls['name'].errors && !frmRegister.controls['name'].pristine">&nbsp;&nbsp;&nbsp;&nbsp;First Leter Should be capital<mat-icon>highlight_off</mat-icon></span></div>
    <br><br>
      <div class="form-group">
        <label for="email">Email :</label><br>
        <input type="text" class="form-control"id="email"formControlName="email">
        <span class="icons"*ngIf="frmRegister.controls['email'].errors && !frmRegister.controls['email'].pristine">&nbsp;&nbsp;&nbsp;&nbsp;Incorrect Email<mat-icon>highlight_off</mat-icon></span>
        </div><br><br>
        <div class="form-group">
          <label for="password">Password :</label><br>
          <input type="password" class="form-control"id="password"formControlName="password">
          <span class="icons"*ngIf="frmRegister.controls['password'].errors && !frmRegister.controls['password'].pristine">&nbsp;&nbsp;&nbsp;&nbsp;Password did not contain the required parameters<mat-icon>highlight_off</mat-icon></span>
          </div><br><br>
          <div class="form-group">
            <label for="phone_no">Phone_No :</label><br>
            <input type="text" class="form-control"id="phone_no"formControlName="phone_no">
            <span class="icons"*ngIf="frmRegister.controls['phone_no'].errors && !frmRegister.controls['phone_no'].pristine">&nbsp;&nbsp;&nbsp;&nbsp;Phone No should contain 10 digits<mat-icon>highlight_off</mat-icon></span>
            </div><br><br>
            <div class="button">
              <button type="submit" class="button1" (click)="success()" [disabled]="!frmRegister.valid">submit</button>&nbsp;&nbsp;
              <button class="button2"(click)="alert()">cancel</button>
            </div>
    </form><br> 
  </div>
  